[user]
	name = ppetroskevicius
	email = p.petroskevicius@gmail.com
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[core]
  editor = vim

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[init]
	defaultBranch = main
