# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Google Cloud module configuration
[gcloud]
format = 'on [$symbol$project$account]($style) '
symbol = "☁️ "
disabled = false
# Show account information including service account when impersonating
[gcloud.project_aliases]
monoya-connect-dev = 'dev'
monoya-connect-prod = 'prod'
monoya-connect-test = 'test'
